*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border:0px solid #ccc;
}
body{
    height: 100%;
    background: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}
a{ 
  text-decoration: none;
  color: #000;
}
.bx {

  color: #8b8888;}

html{
    height: 100%;
}
.contenedor {
    width: 1284px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    height: 100vh;
    gap: 0px 0px;
    border: 0px;
    padding: 0;
    grid-template-columns: 0.1fr auto;
        grid-template-rows: .1fr 1fr auto;
    grid-template-areas:
        "areamenu header"
        "areamenu main"
        "areamenu footer";
}
.header{
    grid-area: header;
    text-align: center;
    height: 98px;
    line-height: 98px;
    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 400;
    background: #1f4e7e;
    color: #fff;
}
.header img{
vertical-align :text-bottom;
}
.navbar{
    grid-area: areamenu; 
    padding: 0px; 
    width: 200px;  
    background: #fafafa;
    box-shadow: 3px 0px 10px rgb(0 0 0 / 5%);
    position: relative;
    z-index: 100;
}
.main{
    grid-area: main;   
    padding: 0px;
    background: #f1f1f1;
}
 
.footer{
    grid-area:footer;
    min-height: 100px;
    padding: 20px 15px;
    background-color: #eeeeee;
}
.menu{
    list-style: none;
    position: sticky;
    top: 110px;
    font-size: .9em;
}
.menuitem{
    display: block;
    margin: 18px 18px;    
       
}
.menuitem a{
  color: #8b8888;
}
.menuitem i{
       vertical-align: middle;

}
.slide{
 background-color: #fff;
 height:250px;
 background: url(../imagenes/pexels-roberto-nickson-3082341.jpg) no-repeat #cccccc;
    background-position-y: -200px;
    background-size: cover;
 
}
.etiquetas{
    display: flex;
    gap: 25px;    
    margin: 25px 0px 0px 40px;
    flex-wrap: wrap;
    align-items: flex-start;
   
}
.unaEtiqueta{
  font-size: .9em;
display:inline-block;
padding: 5px 12px;
border-radius: 5px;
background: #d5d3d3;
}
.unaEtiqueta a{
  color: #fff;
}
.oculto{
  display: none;
}
#vertodo{
  background: #6ccb8e;

}
.fondoAzul{
  background: #3559a9;
}
.fondoGris{
  background: #c9c9c9;
}
.titulo{
  text-transform: uppercase;
  display: block;
  font-weight: 300;
  font-size: 1.5em;
  margin: 20px 0px 0px 40px;
}
.centroTitularesNoticias {
  display: flex;
  gap: 20px;
  margin: 15px 35px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.centroTitularesNoticias div:nth-child(1) { animation-delay: .1s }
.centroTitularesNoticias div:nth-child(2) { animation-delay: .2s }
.centroTitularesNoticias div:nth-child(3) { animation-delay: .3s }
.centroTitularesNoticias div:nth-child(4) { animation-delay: .4s }
.centroTitularesNoticias div:nth-child(5) { animation-delay: .5s }
.centroTitularesNoticias div:nth-child(6) { animation-delay: .6s }
.centroTitularesNoticias div:nth-child(7) { animation-delay: .7s }
.centroTitularesNoticias div:nth-child(8) { animation-delay: .8s }
.centroTitularesNoticias div:nth-child(9) { animation-delay: .9s }
.centroTitularesNoticias div:nth-child(10) { animation-delay: 1s }
.centroTitularesNoticias div:nth-child(11) { animation-delay: 1.1s }
.centroTitularesNoticias div:nth-child(12) { animation-delay: 1.2s }

.centroTitularunaNoticia{
width:250px;
height:250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    margin: 5px 0 8px 0;
   position: relative;
   
}

.miniaturaimagenNota{ 
width:100%;
 background-color: #eee;
height:150px;
border:1px solid #eee;
border-radius: 5px;
margin-bottom:10px;
overflow: hidden;
}
.miniaturaimagenNota img{
object-fit: cover;
    width: 230px;
    height: 150px;
  }
.tituloNota{
text-transform:uppercase;
}
.leermas {
  font-size: .8em;
  color: #7c7777;
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: -18px;
  width: 100%;
  text-align: right;
}
/*
ANIMACIONES de animista
*/
.aparecer{
  animation: FadeIn .5s linear;
  animation-fill-mode: both;
}
@keyframes FadeIn { 
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

/*
MEDIA QUERY
puntos de corte para 4 tamaños de dispositivos distintos
  celular chico: 576px,
  celular mediano: 768px,
  tablet: 992px
  pc : más de  992px

*/
@media(max-width:992px){

    .contenedor {
    width: 100%;
   }
 
    .header{
        background-color: #000;
        color:#fff;
    }
    
    .navbar{
        display: block;   
        width: 100%;  
    }
    .menuitem{
        display: inline-block;
        margin: 10px 14px;    
    }
    .main{             
        height: 100%;
        min-height: 500px;
        width: 100%;
        padding: 20px 15px;
    }
    .grid-container{  
        grid-template-columns: 1fr; 
        grid-template-rows: 0.2fr .2fr 2fr .5fr; 
        grid-template-areas: 
        "header header" 
        "areamenu areamenu"     
        "main main"     
        "footer footer";
        padding: 0px;
    }
}
@media(max-width:768px){

    .header{
        background-color: #ccc;
        color:#fff;
    }
    .navbar{
        display: none;   
    }
    .grid-container{  
        grid-template-columns: 1fr; 
        grid-template-rows: .2fr 0fr 2fr .5fr; 
        grid-template-areas: 
        "header header" 
        "areamenu areamenu"     
        "main main"     
        "footer footer";
        padding: 0px;
    }
}

@media(max-width:576px){

    .header{
        background-color: #ddd;
        color:#333;
    }
    .navbar{
        display: none;   
    }
}
