*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border:1px solid 
}
body{
    height: 100%;
    background: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}
html{
    height: 100%;
}

.grid-container{   
    display: grid;
    height: 100%;
    gap: 0px 0px;   
    border: 0px;
    padding:  0;
    grid-template-columns: 0.3fr 1.7fr; 
    grid-template-rows: 0.2fr 2fr 0.3fr; 
    grid-template-areas: 
    "header header" 
    "areamenu main"     
    "areamenu footer";
}
.header{
    grid-area: header;
    text-align: center;
    height: 98px;
    line-height: 98px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color:#238AE6;
}
.navbar{
    grid-area: areamenu; 
    padding: 10px; 
    width: 200px;  
}
.main{
    grid-area: main;
    min-height: 300px;
    width: calc(100vw - 200px);
    padding: 20px 15px;
}
.article{
    grid-area: article;
   
}
.footer{
    grid-area:footer;
    min-height: 100px;
    padding: 20px 15px;
    background-color: #eeeeee;
}
.menu{
    list-style: none;
    background-color: #238AE6;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 #434d53;
   
}
.menuitem{
    display: block;
    margin: 10px 14px;    
}
.menuitem i{
       vertical-align: middle;
}

/*
MEDIA QUERY
puntos de corte para 4 tamaños de dispositivos distintos
  celular chico: 576px,
  celular mediano: 768px,
  tablet: 992px
  pc : más de  992px

*/
@media(max-width:992px){
 
    .header{
        background-color: #000;
        color:#fff;
    }
    
    .navbar{
        display: block;   
        width: 100%;  
    }
    .menuitem{
        display: inline-block;
        margin: 10px 14px;    
    }
    .main{      
        min-height: 300px;
        width: 100%;
        padding: 20px 15px;
    }
    .grid-container{  
        grid-template-areas: 
        "header header" 
        "areamenu areamenu"     
        "main main"     
        "footer footer";
        padding: 0px;
    }
}
@media(max-width:768px){

    .header{
        background-color: #ccc;
        color:#fff;
    }
    .navbar{
        display: none;   
    }
}

@media(max-width:576px){

    .header{
        background-color: #ddd;
        color:#333;
    }
    .navbar{
        display: none;   
    }
}
